body {
  background-color: #fff;
  color: #000;
  font-size: 16px;
  line-height: 1.5;
  font-family: sans-serif;
}


a {
  text-decoration: none;
}

a:link {
  color:#fff;
   } /* unvisited */
a:visited {
  color:#0070BA;
   } /* visited */
a:hover {
  color:#0070BC;
   } /* mouse over */
a:active {
  color:#0070BD;
   } /* selected */

h1 {
  font-size: 3.5em;
  text-transform: capitalize;
  font-family: serif;
  font-weight: 600;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 1.5em;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

.author {
  font-weight: 600;
}
ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
